/*
*	Notify AKA Advert ver - 0.1.6
*	Copyright Foxesworld.ru
*/

#advertisment_text{
	margin: 5px 0;
} 

.notify_block {
	line-height: 1.15;
    position: fixed;
    right: 0;
	margin: 10px 25px;
    bottom: 15px;
    background: linear-gradient(90deg, #d59837, #8c5631) !important;
    padding: 15px;
    border-radius: 5px;
    padding-right: 44px;
    color: #fff;
    z-index: 333;
    background-size: cover !important;
    font-family: 'FSElliotPro';
    font-size: 16px;
    -webkit-box-shadow: 0 14px 43px rgba(79, 45, 31, .2);
    -moz-box-shadow: 0 14px 43px rgba(79, 45, 31, .2);
    box-shadow: 0 14px 43px rgba(79, 45, 31, .2);
}

.notify_block a.notify_block_close {
	position: absolute;
	padding: 5px;
	margin-top: -16px;
	margin-left: 210px;
	cursor: pointer;
}

.notify_block a.notify_block_close:hover {
	animation: shakeAlert 1s;
    animation-iteration-count: infinite;
	opacity: 0.5 !important;
}

.notify_block .content {
	width: 200px;
/*	display: flex; */
	font-size: 14px;
}

.link-hide{
	display: none;
}

.notify_block h3 {
	font-size: 16px;
	font-family: 'FSElliotPro-Heavy';
	margin: 0;
}

.notify_block .content a {
	color: #ffffff;
	text-decoration: underline;
}

.notify_block .content a:hover {
	text-decoration: none;
}

.notify_block .freeImagesLeft {
	background-color: #78726e94;
    padding: 8px;
    border-radius: 5px;
    border: 1px dashed #3c3838;
}

#notify-content{
	position: fixed;
	margin: 10px;
}