.introBlock {
	width: 100%;
	max-width: 512px;
    margin: 0 auto;
    padding: 15px;
}

.introBlock > img {
	height: 288px;
    margin: 0 auto;
    width: 100%;
}

.introBlock > h3 {
	padding: 45px
}

.introBlock > .introText {
	border: 1px solid;
    border-radius: 10px;
    padding: 5px;
	margin: 10px;
	color: #365795;
}