html {
	background-image: url('/templates/default/img/bg.jpg');
	font-family: 'FSElliotPro';
	background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
	background-color: #bfa698bf;
	border-radius: 10px;
	-webkit-box-shadow: 0 14px 43px rgb(114 63 47);
	-moz-box-shadow: 0 14px 43px rgb(114 63 47);
	box-shadow: 0 14px 43px rgb(114 63 47);
    min-height: 250px;
    width: auto;
	display: flex;
    margin: 10% 15%;
}

footer {
    background-color: #4e5357d6;
    position: fixed;
	height: 45px;
	width: 100%;
    left: 0;
    bottom: 0;
	z-index: -1;
}

footer > span {
	color: #e9cb95;
	margin: 10px auto;
    width: fit-content;
    display: block;
    height: 100%;
	font-family: 'Intro-Black';
}

footer > span > b {
	color: #ba6334;
}

li {
	list-style: none;
}

.logo {
	font-family: 'FSElliotPro-Heavy';
	color: #f69d4bb0;
	display: block;
	float: left;
    width: fit-content;
	cursor: pointer;
}

.logo:hover {
	transition: 0.5s;
	opacity: 0.3;
}

.logo > img {
	width: 43px;
    height: auto;
}

.logo > span {
	vertical-align: super;
    display: inline-block;
    font-size: 3vh;
}

.logo > small {
	font-family: 'Minecraft';
	font-size: 0.8vh;
    float: right;
}

.navigation {
	margin: 0 auto;
	z-index: -1;
}

.rightNavBlock {
	float: right;
	margin: 0;
}

#mainCont {
	box-shadow: 0px 2px 10px 5px #615954d1;
}

#mainCont > .userProfile {
	border-radius: 5px 0px 0px 5px;
	background-color: #eb9869d1;
	box-shadow:0px 2px 10px 5px #615954d1;
    width: fit-content;
    padding: 0px 10px;
	z-index: 1;
	width: 25%;
}

.userProfile > ul > li {
	margin: 5;
}

#mainCont > .contInner {
	width: 100%;
    background-color: aliceblue;
    border-radius: 0px 5px 5px 0px;
}


.userProfile > ul {
	margin: 5% auto;
    display: table;
}


.menu-top{
	 background-color: #4e5357d6;
	 height: 51px;
	 width: 100%;
	 position:fixed;
	 top:0;
	 right:0;
}

nav, nav ul li, nav ul li a {
	display: inline-block;
    vertical-align: top;
	width: max-content;
    margin: 0 0.5vw;
}

ol, ul {
    list-style: none;
	position: relative;
	padding: 0px;
}